.head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px black solid;
    background-color: sandybrown;
    width: 100%;
    height: 100px;
}
.head a{
    color: black;
    background-color: white;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
.head a[class='active'] {
    color: red;
}
