.main{
    display: flex;
    border-radius: 20px;
    border: 1px solid black;
   justify-content: center;
    align-items: center;
    color: wheat;
    background-color: #282c34;
    flex-wrap: wrap;
    flex-flow: wrap;

}