.post{
    border: 1px solid black;
    border-radius: 10px;
    background-color: burlywood;
    margin: 10px;
}
button{
    font-size: 18px;
    border-radius: 10px;
    border: none;
    color: darkcyan;
    margin-left: 50px;
    margin-bottom: 5px;
}